body {
    background-color: #111111;
    color: white;
}

.list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 64px;
    gap: 40px;
}

.list > li {
    flex: 1 0 21%;
    display: flex;
    max-width: 182px;
    height: 330px;
    flex-direction: column;
    justify-content: space-between;
}

.movie.title {
    font-weight: 600;
}

footer {
    height: 200px;
}
